    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Orbitron', sans-serif;
    }
        body {
      background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
      color: white;
    }
    .profile-Pages{
  background: linear-gradient(to right, #1a1a40, #1a2a6c);
  height: 100vh;
}
nav{
    border-bottom: 0.5px solid #111;
  }
    .content{
      padding: 20px;
      color: #fff;
       }
  .project{
background-color: grey;
padding: 10px;
  height: 380px;
  width: 60%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 40px 10px;
  
}
.container-img{
  display: flex;
  flex-direction: row;
  position: relative;
}
.mobile-view{
  height: 16vh;
  width: 190px;
  border-radius: 5px;
}
.desktop-view{
  height: 16vh !important;
  width: 400px;
  border-radius: 5px;
  margin-right: 10px;
}
.text-data{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 20px;
}
.proj-content{
  display: flex;
  flex-direction: row;
}
        @media (max-width: 768px) {
  nav{
    border-bottom: 0.5px solid #111;
  }
  .content{
      padding: 20px;
      color: #fff;
       }
.project{
  background-color: grey;
padding: 10px;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top: 40px;
  
}
.container-img{
  display: flex;
  flex-direction: row;
  position: relative;
}
.mobile-view{
  height: 20vh;
  width: 100px;
  border-radius: 5px;
}
.desktop-view{
  height: 20vh !important;
  width: 180px;
  border-radius: 5px;
  margin-right: 10px;
}
.text-data{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}
.proj-content{
  display: flex;
  flex-direction: column;
}
}